#  # Compiled Object files, Static and Dynamic libs (Shared Objects)
#  *.a
#  m
#  Folders
#  _test
#  node -v
#  npm -v
#  Architecture specific extensions/prefixes
#  [568vq].out

#  *.cgo2.c
#  _cgo_gotypes.go
#  
#  
#  
#  IDE Folder
#  
